<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<%= link_to "create new restaurant", new_restaurant_path, html: {:class => "btn btn-primary btn-lg" }%>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(id: restaurant.id) %>, <%= restaurant.address %></li>
  <% end %>

</ul>
